<h1>update un nouveau projet</h1>

<form action="/projects/update" method="POST">
    <input type="hidden" name="_id" value="<%=project._id %>" />
    <div>
        <div className="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input className="mdl-textfield__input" type="text" id="name" name="name" value="<%= project.name %>">
                <label className="mdl-textfield__label" htmlFor="name">Name</label>
        </div>
    </div>
    <div>
        <div className="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea className="mdl-textfield__input" type="text" rows="3" id="description" name="description"> <%= project.description %></textarea>
            <label className="mdl-textfield__label" htmlFor="description">Description</label>
        </div>
    </div>
    <a href="/projects" className="mdl-button mdl-js-button mdl-button--raised">
        Back
    </a>
    <button type="submit" className="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Update
    </button>
</form>